# Python 3.11+ required

# data science libraries
jupyter==1.0.0
ipython==8.17.2

# Used in AI/ML lessons
numpy==1.25.2
pandas==2.1.4

# For testing
pytest==7.4.3

# In code formatting
black==23.11.0

# Web interacton
flask==3.0.0
